@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}
